html 
    head
        title= "Book" 
        style= style
    body
        div(class="book") 
            h1= book.name 
            h5= book.author
        
        div 
            a(href='/')= "Back to books"
