html 
    head
        title= "Book List" 
        style= style
    body   
        h1= "books"
        ul
            each item in books
                li
                    a(href=`/book?id=${item.id}&click_id=${click_id}` attributionsourceid=`source-${item.id}` attributeon="http://example.com")
                        span(class="name")= item.name
                    span(class="author")= item.author
